{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ICAB Bafoussam — Plateforme de Vote Sécurisé{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    
    {% block extra_head %}{% endblock %}
</head>
<body class="font-sans bg-white text-gray-900 antialiased overflow-x-hidden">

    <!-- Navbar -->
    {% include "pages/partials/_navbar.html" %}

    <!-- Contenu principal de la page -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include "pages/partials/_footer.html" %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>